<div class="container-fluid footer">
				<div class="container">
					<div class="row">
						<div class="col-4 left">
							<p>版权所有 &copy;笔记(V-1.0)</p>
							<p>备案号:蜀ICP备4562523号</p>
						</div>
						<div class="col-4 center">
							<p>友情链接</p>
							<p><a href="#" target="_blank">
									在线课堂</a>&nbsp;&nbsp;&nbsp;
								<a href="#" target="_blank">
									直播课堂</a>&nbsp;&nbsp;&nbsp;
							<a href="#" target="_blank">软件学院</a>
							</p>
						</div>
						<div class="col-4 right">
							<p>联系我们</p>
							<p>成都★哈尔滨&nbsp;&nbsp;&nbsp;QQ/微信:4613415</p>
						</div>
					</div>
				</div>
</div>